@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  font-size: 85%;
  scroll-behavior: smooth;
}

.button:hover {
  background-color: #daedfd;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.button {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.button:active {
  background-color: #7cc1fb;
}

.themeborder table,
.themeborder td,
.themeborder tr,
.themeborder th {
  border: 1px solid #04364a;
  border-collapse: collapse;
  padding: 5px;
}

.tablebordergrey table,
.tablebordergrey td,
.tablebordergrey tr,
.tablebordergrey th {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
