@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

table,
td,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

span table,
span td,
span tr,
span th {
  border: 1px solid #04364a;
  border-collapse: collapse;
}
